* {
  box-sizing: border-box;
  color: black;
}

/*
tanzanite: rgb(74, 3, 189);
grey: rgb(83, 80, 88);
pink: rgb(253, 21, 214);
lightpink: rgba(253, 21, 214, 0.212); 
*/

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif; 
  height: 100%;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 70px;
  border: 1px purple dashed;
}

.icon {
  font-family: 'Major Mono Display', monospace;
  color: #4a03bd;
  font-size: 150px;
  font-weight: 100;
  margin-bottom: 30px;
}

h1 {
  font-family: 'Raleway', sans-serif; 
  color: rgb(74, 3, 189);
  font-size: 150px;
  font-weight: lighter;
  margin-bottom: 30px;
  /* transition: all .2s ease-in-out; */
}

/* h1:hover {
  transform: scale(1.05);
} */

.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2px;
  width: 400px;
  background-color: black;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.typewriter p, h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(74, 3, 189); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}

h2 {
  color: rgb(83, 80, 88);
  font-size: 20px;
  font-weight: 100;
}

.text {
  font-size: 30px;
}

.contact {
  font-style: italic;
  font-size: 25px;
  color: rgb(74, 3, 189);
}

.centre-wrapper {
  height: 10vh;
}

.centre {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.hover:hover {
  transform: scale(1.5);
  color: rgb(74, 3, 189);
}

.fa {
  height: 60px;
  width: 60px;
  color: rgb(83, 80, 88);
}

.arrow {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none;
}

.info {
  height: 90vh;
  padding: 0px;
}

.reg {
  display: flex;
  align-content: flex-end;
  font-size: 13px;
}

.footer {
  height: 10vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pp {
  cursor: pointer;
  text-decoration: underline;
  margin-top: .5vh;
}

.pp:hover {
  color: rgb(74, 3, 189);
}

.privacy {
  /* height: 100vh; */
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 10vh;
  width: 100vw;
  border: 1px red dashed;

  position: fixed;
}

/* ************ */
/* FRONT LANDING */
/* ************ */

.front-landing {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  
  background: #4a03bd;
  z-index: 1;
}

.front-landing-container {
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front-landing-title {
  position: relative;
  top: -5vh;
}

.title-white {
  color: white;
}

.front-landing-line-container {
  height: 0.2vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.front-landing-line {
  height: 0.2vh;
  width: 30vw;

  background: white;

  position: relative;
  top: -5vh;
}

.front-landing-tagline-container {
  height: 5vh;
  width: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.front-landing-tagline {
  color: white;
  position: relative;
  top: -3vh;
}

/* ************ */
/* START SELECTION LANDING */
/* ************ */

.start-selection {
  height: 100vh;
  width: 100vw;
  padding-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.start-selection-col-1 {
  height: 100%;
  width: 50vw;

  background: red;
}
.start-selection-col-2 {
  height: 100%;
  width: 50vw;
  
  background: green;
}

