* {
  box-sizing: border-box;
  color: black;
}

/* ******************************************************** GENERAL ******************************************************** */

/* Colour scheme
tanzanite: rgb(74, 3, 189);
grey: rgb(83, 80, 88);
pink: rgb(253, 21, 214);
lightpink: rgba(253, 21, 214, 0.212);  */

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif; 
  height: 100%;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 70px;
}

.centre {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.vinco {
  font-family: 'Major Mono Display', monospace;
}

.tanz {
  color: rgb(74, 3, 189);
}

.grey {
  color: rgb(83, 80, 88);
}

.bold {
  font-weight: bold;
  color: rgb(74, 3, 189);
}

.info {
  height: 90vh;
  padding: 0px;
}

.subtitle {
  font-size: 40px;
  color: rgb(74, 3, 189);
  margin-bottom: 20px;
}

button {
  margin: 10px;
  font-family: 'Raleway', sans-serif; 
  font-size: 14px;
  color: rgb(74, 3, 189);
}

/* .arrow {
  width: 100vw;
  position: absolute;
  bottom: 0;
} */

/* ******************************************************** LANDING PAGE ******************************************************** */

.front-landing {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(74, 3, 189);
  z-index: 1;
}

.front-landing-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.front-landing-title {
  position: relative;
  top: -5vh;
}

.title-white {
  color: white;
}

.front-landing-line-container {
  height: 0.2vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-landing-line {
  height: 0.2vh;
  width: 30vw;
  background: white;
  position: relative;
  top: -5vh;
}

.front-landing-tagline-container {
  height: 5vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-landing-tagline {
  color: white;
  position: relative;
  top: -3vh;
  font-size: 20px;
  font-weight: 100;
}

/* ******************************************************** NAVBAR ******************************************************** */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background: white;
  position: fixed;
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 5vw;
  font-size: 50px;
  color: rgb(74, 3, 189);
}

.navItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 40vw;
  font-weight: bold;
}

/* ******************************************************** START PAGE ******************************************************** */

.start {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.brandContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.title {
  position: relative;
  top: -5vh;
}

h1 {
  font-family: 'Raleway', sans-serif; 
  color: rgb(74, 3, 189);
  font-size: 150px;
  font-weight: lighter;
  margin: 0px;
}

.logo {
  font-family: 'Major Mono Display', monospace;
  color: rgb(74, 3, 189);
  font-size: 150px;
  font-weight: 100;
  margin-bottom: 30px;
}

.line-container {
  height: 0.2vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  height: 0.2vh;
  width: 30vw;
  background: black;
  position: relative;
  top: -5vh;
}

.conquer-container {
  height: 5vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conquer {
  color: rgb(83, 80, 88);
  position: relative;
  top: -3vh;
  font-size: 20px;
  font-weight: 100;
}

.startHeading {
  font-size: 30px;
  color: rgb(83, 80, 88);
  text-align: right;
}

.startP {
  font-size: 20px;
  color: rgb(83, 80, 88);
  text-align: right;
}

/* ******************************************************** MISSION ******************************************************** */

#mission {
  /* background: rgba(83, 80, 88, 0.123); */
  background: rgba(253, 21, 214, 0.096);
}

.mission {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mission-col {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.missionText {
  font-size: 25px;
  color: rgb(83, 80, 88);
  padding: 50px;
  margin: 0px;
}

.mission-png {
  height: 20vw;
  width: 20vw;
}

/* ******************************************************** HOW IT WORKS ******************************************************** */

/* #how {

} */

.how {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-col {
  width: 25vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.howText {
  font-size: 23px;
  color: rgb(83, 80, 88);
  padding: 30px;
  margin: 0px;
}

.how-png {
  height: 7vw;
  width: 7vw;
  margin-top: 55px;
}

/* ******************************************************** POLL ******************************************************** */

#poll {
  background: rgba(253, 21, 214, 0.096);
}

.poll {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.poll-col {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.pollText {
  font-size: 22px;
  color: rgb(83, 80, 88);
  padding: 30px;
  margin: 0px;
}

.poll-png {
  height: 7vw;
  width: 7vw;
  margin-top: 55px;
}

.question {
  font-size: 25px;
  font-style: italic;
  color: rgb(83, 80, 88);
}
.vote {
  background: none;
  border: none;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.vote:hover {
  background: white;
}

/* ******************************************************** GET EARLY ACCESS ******************************************************** */

/* #access {

} */

/* ******************************************************** TEAM ******************************************************** */

#team {
  background: rgba(83, 80, 88, 0.062);
}

/* ******************************************************** CONTACT ******************************************************** */

/* #contact {

} */

.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.contact-png {
  height: 3vw;
  width: 3vw;
  margin: 10px;
}

.contact-png:hover {
  transform: scale(1.2);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* ******************************************************** FOOTER ******************************************************** */

.reg {
  display: flex;
  align-content: flex-end;
  font-size: 13px;
}

.footer {
  height: 10vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pp {
  cursor: pointer;
  text-decoration: underline;
  margin-top: .5vh;
}

.pp:hover {
  color: rgb(74, 3, 189);
}

/* ******************************************************** PRIVACY POLICY ******************************************************** */

.privacy {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.marginTitle {
  margin-left: 10px;
  margin-bottom: 0px;
}

.marginText {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.click {
  text-decoration: underline;
}

.click:hover {
  color: rgb(74, 3, 189);
}
